.tree-view
{
	-fx-background-color: transparent ;
	-fx-border-style : solid ;
	-fx-border-width: 2px ;
	-fx-border-color: black ;
	-fx-font-family: Times ;
	-fx-font-size: 20;
}

.button
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
}

.text-field
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
	-fx-border-color: black;
	-fx-border-width: 2px;
}

.tree-cell
{
	-fx-indent: 30 ;	
}

.tree-cell:hover
{
	-fx-background-color: rgb(120,120,120) ;
	-fx-text-fill: white ;
}

.tree-cell:focused
{
	-fx-background-color: rgb(40,40,40) ;
	-fx-text-fill: white ;
}
.tree-cell:pressed
{
	-fx-background-color: rgb(120,120,120) ;
	-fx-text-fill: white ;
}

.settings-label
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
}

.item-popup-label
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
}

.popup-text
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
}

.popup-rectangle
{
	-fx-arc-height: 20px ;
	-fx-arc-width: 20px ;
	-fx-fill: white ;
	-fx-smooth: true ;
	-fx-stroke: black ;
	-fx-stroke-width: 3px ;
}

.items-display-pane-selected-item-text
{
	-fx-font-family: Times ;
	-fx-font-size: 30 ;
	-fx-font-weight: bold ;
	-fx-text-alignment: center ;
	-fx-text-fill: black ;
}