.button
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
}

#settings-button
{
	-fx-graphic: url(/images/settings_button.png);
	-fx-background-color: transparent;
}

.settings-label
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
}

.item-popup-label
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
}

.popup-text
{
	-fx-font-family: Times ;
	-fx-font-size: 24 ;
}

.popup-rectangle
{
	-fx-arc-height: 20px ;
	-fx-arc-width: 20px ;
	-fx-fill: white ;
	-fx-smooth: true ;
	-fx-stroke: black ;
	-fx-stroke-width: 3px ;
}

.items-display-pane-selected-item-text
{
	-fx-font-family: Times ;
	-fx-font-size: 30 ;
	-fx-font-weight: bold ;
	-fx-text-alignment: center ;
	-fx-text-fill: black ;
}